*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
    --ff-primary: Roboto, sans-serif;
    --ff-secondary: Railway, monospace;

    --fw-reg: 300;
    --fw-bold: 900;
 
    --clr-light: #fff;
    --clr-dark: #303030;
    --clr-accent: #e3f2fd;

    --fs-h1: 3rem;
    --fs-h2: 2.25rem;
    --fs-h3: 1.25rem;
    --fs-body: 0.75rem;

    --bs: 0.25em 0.25em 0.75em rgba(0,0,0,.25),
          0.125em 0.125em 0.25em rgba(0,0,0,.15);
}

@media (min-width: 800px) {
    :root {
        --fs-h1: 4.5rem;
        --fs-h2: 2.25rem;
        --fs-h3: 1.50rem;
        --fs-body: 1rem;
    }
}

html {
    scroll-behavior: smooth;
}

body {
    background: linear-gradient(153deg,rgba(55, 149, 243, 0.591) 0%, rgba(63, 240, 60, 0.121) 100%);
    font-family: var(--ff-primary);
    font-size: var(--fs-body);
    margin: 10px;
    padding: 0px;
    text-align: center;
}

h1 {
    font-size: var(--fs-h1);
    font-weight: 700;
    margin: 60px auto 0;
    color: aliceblue;
}

h2 {
    font-size: var(--fs-h2);
}

h3 {
    font-size: var(--fs-h3);
}

img {
    width: 100%;
    height: auto;
}
/*-- Header and Navigation --  */

.navbar {
    background-color: #035503;
}

.navbar-nav {
    
}

/*-- Body Styles --*/

section {
    padding: 3em 1em;
}

.home {
    max-width: 1100px;
    padding: 3em;
    display: grid;
    margin-top: 3em;
    margin: 0 auto;
    background-image: url("../img/background.jpg");
    background-position: 50% 50%;
    background-size: cover;
    min-height: 500px;
    color: aliceblue;
}

.home p {
    margin: 5em;
}

/* Bio Section */

@media screen and (min-width: 850px) {
    .layout {
        max-width: 1100px;
        display: grid;
        grid-template-columns: 1fr 2.5fr;
        grid-gap: 2em;
        width: 100%;
        margin: 0 auto;
    }
}

#about {
    padding-top: 5em;
}

.about-img {
    grid-column: 1;
    max-width: 500px;
    position: relative;
    object-position: 50% 0%;
    object-fit: cover;
    overflow: hidden;
    margin: 0 auto;
    border-radius: .3em;
}

.about-side {
    grid-column: 2;
    align-self:flex-end;
    padding: 2em;
    border-radius: .3em;
    box-shadow: 10px 10px 30px rgba(0,0,0,0.1);
    background-color: aliceblue;
}

.about-bottom {
    grid-column: 1 / -1;
    align-self:flex-end;
    padding: 2em;
    border-radius: .3em;
    box-shadow: 10px 10px 30px rgba(0,0,0,0.1);
    background-color: aliceblue;
}

/* Gallery Section */

@media screen and (min-width: 850px) {
    /* for screens this size and larger, do this, otherwise natural grid will stack them */
    .gallery-layout {
        display: grid;
        grid-template-columns: 1fr 2.5fr;
    }
}



.container {
    max-width: 1100px;
    padding: 20px 20px;
    margin: 0 auto;
    border: #fff solid 3px;
}

#gallery1,
#gallery2,
#gallery3,
#gallery4 {
    display: grid;
    grid-gap: 10px;
    padding-top: 4em;
}

.gallery-title {
    max-width: 95%;
    padding: 10px
}
/*
.main-img1, 
.main-img2 {
    max-width: 1000px;
    grid-column: 2 / -1;
}
*/
.main-img1 img,
.main-img2 img,
.main-img3 img,
.main-img4 img,
.imgs1 img,
.imgs2 img,
.imgs3 img,
.imgs4 img {
 display: flex;
 width: 100%; 
 height: auto;
 min-height: 100%;
}

.imgs1,
.imgs2,
.imgs3,
.imgs4 {
  display: grid;
  grid-column: 1 / -1;
  grid-template-columns: repeat(auto-fill, 100px);
  grid-gap: 5px;
  object-fit: cover;
  overflow: hidden;
}

/* Fade in animation */
@keyframes fadeIn {
  to {
    opacity: 1;
  }
}

.fade-in {
  opacity: 0;
  animation: fadeIn 0.5s ease-in 1 forwards;
}

.contact-me {
    padding: 3rem;
}

.footer {
    background-color: #035503;
    color: white;
    padding: 2rem;
}